{% extends "base.html" %}
{% block title %} {{title}} {% endblock title %}
{% block body %}

<!-- Contact Start -->
<div class="container-fluid py-5" id="contact">
    <div class="container">
        <div class="position-relative d-flex align-items-center justify-content-center">
            <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">Contact</h1>
            <h1 class="position-absolute text-uppercase text-primary">Contact Me</h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="contact-form text-center">
                    <div id="success"></div>
                    {% comment %} <form name="sentMessage" id="contactForm" novalidate="novalidate" method="POST"> {% endcomment %}
                        <form method="POST" action={% url "contactme" %}>
                            {% csrf_token %}
                        <div class="form-row">
                            <div class="control-group col-sm-6">
                                <input type="text" name="fname" class="form-control p-4" id="fname" placeholder="Your First Name"
                                    required="required" data-validation-required-message="Please enter your first name" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group col-sm-6">
                                <input type="text" class="form-control p-4" id="lname" name="lname" placeholder="Your Last Name"
                                    required="required" data-validation-required-message="Please enter your last name" />
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <input type="email" class="form-control p-4" id="email" name="email" placeholder="Your Email"
                                required="required" data-validation-required-message="Please enter a email adress" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <input type="phonenumber" class="form-control p-4" id="contactnumber" name="contactnumber" placeholder="Contact Number"
                                required="required" data-validation-required-message="Please enter your contact number" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <input type="text" class="form-control p-4" id="designation" name="designation" placeholder="Designation followed by company name (if any)"
                                required="required" data-validation-required-message="Please enter your designation" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <input type="text" class="form-control p-4" id="subject" name="subject" placeholder="Subject"
                                required="required" data-validation-required-message="Please enter a subject" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <textarea class="form-control py-3 px-4" rows="5" id="message" name="message" placeholder="Message"
                                required="required"
                                data-validation-required-message="Please enter your message"></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div>
                            <button class="btn btn-outline-primary" type="submit" id="sendMessageButton">Send
                                Message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->
{% endblock body %}